body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    margin: 15px;
    width: 90%;
    margin: 0 auto;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #E2E6EA;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FD815F;
    color: white;
}

form {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: stretch;
}

.custom-file-input {
    content: 'Choose a file';
    color: white;
    background: #FD815F;
    border-radius: 3px;
    padding: 10px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 550;
    font-size: 15px;
    margin-bottom: 5px;
}

.custom-file-input:hover {
    background: rgba(0, 0, 0, 0.2);
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-text-input {
    border-radius: 3px;
    padding: 10px 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    border: 2px solid #FD815F;
    width: 30%;
}

.custom-text-input::placeholder {
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box;
}

.custom-submit-input {
    color: transparent;
}

.custom-submit-input {
    content: 'Upload';
    color: white;
    display: inline-block;
    background: #FD815F;
    border-radius: 3px;
    padding: 10px 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 550;
    font-size: 15px;
    border: none;
}

.custom-submit-input:hover {
    background: rgba(0, 0, 0, 0.2);
}